$primary: #172047;
$secondary: #46a5ff;
$success: #2bff8a;
$warning: #ffb800;
$danger: #ff635d;
$border-radius: 1.2rem;
$font-family-sans-serif: 'Montserrat', Arial, sans-serif;

@import "bootstrap/scss/bootstrap";